@-webkit-keyframes loadingSpinAround {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes loadingSpinAround {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}

/* Button */
.button.weed-test-email-button {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.weed-test-email-button.is-loading {
	color: transparent !important;
	pointer-events: none;
}

.weed-test-email-button.is-loading::after {
	content: "";
	position: absolute;
	width: 1em;
	display: block;
	height: 1em;
	border: 2px solid #dbdbdb;
	/* border: 2px solid #814676; */
	border-color: transparent transparent #fff #fff !important;
	/* border-color: transparent transparent #9B5C8F #9B5C8F !important; */
	border-radius: 290486px;
	-webkit-animation: loadingSpinAround 0.5s infinite linear;
	animation: loadingSpinAround 0.5s infinite linear;
}

/* Code Mirror */
.CodeMirror-wrap {
	border: 1px solid #ddd;
}

/* Template tags metabox */
.weed-tags-metabox .tags-wrapper {
	line-height: 1.8;
}

.weed-tags-metabox .heatbox-content p:last-child {
	margin-bottom: 0;
}

/* Settings form */
.button.weed-reset-button {
	margin-left: 7px;
	color: #fff;
	background-color: tomato;
	border-color: tomato;
}

.button.weed-reset-button:hover,
.button.weed-reset-button:active,
.button.weed-reset-button:focus {
	color: #fff;
	background-color: #f5492a;
	border-color: #f5492a;
}

.button.weed-reset-button:focus {
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #f5492a
}

/* Featured */
.weed-featured-products > h2 {
	text-align: center;
	margin-bottom: 50px;
	font-size: 24px;
}

.weed-featured-products .products {
	display: flex;
	justify-content: space-between;
}

.weed-featured-products .products li {
	width: 32%;
}

.weed-featured-products .products .subheadline {
	font-weight: 600;
	margin-top: -6px;
}

.weed-featured-products .products img {
	max-width: 100%;
}

.weed-featured-products .credit {
	margin-top: 20px;
	text-align: center;
	opacity: 0.5;
}

/* Fields */
.weed-fields {
	position: relative;
}

.weed-field {
	margin-bottom: 15px;
}

.weed-inline-fields .weed-field:last-child {
	margin-bottom: 0;
}

.weed-inline-fields {
	display: flex;
	position: relative;
}

.weed-inline-fields .weed-field {
	margin-right: 10px;
}

.weed-inline-fields .weed-field:last-child {
	margin-right: 0;
}

.weed-field .wp-picker-input-wrap .color-picker {
	width: 160px !important;
}

.weed-field .wp-picker-input-wrap {
	display: inline-flex;
	max-width: 220px;
	overflow: hidden;
	transition: max-width 0.2s;
}

.weed-field .wp-picker-input-wrap.hidden {
	display: inline-flex;
	max-width: 0;
}

.weed-label {
	display: block;
	margin-bottom: 3px;
}

.is-hidden {
	display: none;
}

@media screen and (max-width: 780px) {
	.heatbox-header .logo-container .title,
	.heatbox-header .logo-container .subtitle {
		width: 100%;
	}
}
